
<div ng-if="isAmbassador==='true'">

    <div class="goGold">
        <div class="left-side">
            <div class="left-text-col">
                <h2>Featured Specializaton:</h2>
                <h3>Games Moderation</h3>
                <p>With Xbox Live Gold, you get the most advanced multiplayer, free games, exclusive member discounts up to 50-75% on games in the Xbox Store, and more.</p>
                <a href="http://www.xbox.com/en-US/live" class="gold-cta">Get Started Today</a>
            </div>
        </div>
        <div class="right-side" style="background-color: #3a3a3a;">
            <div class="right-text-col">
                <a href="/join">
                    <img src="http://compass.xbox.com/assets/76/2e/762ec554-b84c-48fa-a0c9-84420fb1d9a5.jpg?n=global_liveblade_tvandcontroller_510x410-2.jpg" alt="Join Xbox Live">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--end tier 2-->

<div ng-if="isAmbassador==='true'" style="background-color:#f1f1f1">

    <div class="goGold" style="background-color:#f1f1f1">
        <div class="left-side">
            <div class="left-text-col" style="color:#000">
                <h2 style="color:#000">Congratulations to Red Roses!</h2>
                <p style="color:#000">Season 1 winner with 10,300 XP and 10 completed challenges and laser focus!</p>
                <a href="/join" class="gold-cta">Visit Profile</a>
            </div>
        </div>
        <div class="right-side" style="background-color: #f1f1f1;">
            <div class="right-text-col">
                <a href="/join">
                    <img class="hero-image" style="padding-top:50px;" src="https://xbl-mediaexp.xboxlive.com/public/content/me/programming/LATAM/04_exp/xcl/v17/images/slider-placeholder-image.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section howitworkspanel" ng-if="isAmbassador==='false'">
    <div class="row">
        <div class="col-md-12">
            <h1 class="tagline">Welcome to the Ambassadors Community</h1>
            <span class="tagline2">Join specializations, help the community, get involved, get recognized and redeem rewards!</span>

            <div class="page-container-responsive" style="padding-bottom: 32px;">
                <div class="row">
                    <div class="col-sm-12 col-md-4 text-center text-contrast">
                        <div class="panel-body">
                            <div class="responsive-hiw-step-wrapper">
                                <div class="step_num">
                                    <img src="../../../../Content/images/SpecializationIcon.png" width="150" height="150" /><br />1
                                </div>
                            </div>
                            <h2>
                                Join a Specialization
                            </h2>
                            <h3>
                                View the list of <a href="#">specializations</a> and join all that interest you.
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 text-center text-contrast">
                        <div class="panel-body">
                            <div class="responsive-hiw-step-wrapper">
                                <div class="step_num">
                                    <img src="../../../../Content/images/ChallengeIcon.png" width="150" height="150" /><br /> 2
                                </div>
                            </div>
                            <h2>
                                Take a Challenge
                            </h2>
                            <h3>
                                Each specialization will have challenges for you to tackle.  Learn more about <a href="#">challenges</a>.
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 text-center text-contrast">
                        <div class="panel-body">
                            <div class="">
                                <div class="step_num">
                                    <img src="../../../../Content/images/RewardIcon.png" width="150" height="150" /><br />3
                                </div>
                            </div>
                            <h2>
                                Get Recognized and Rewarded!
                            </h2>
                            <h3>
                                Receive points and rewards for your participiation!  Learn more about <a href="#">rewards</a>.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" style="margin-top: -35px;
  text-align: center;
  position: absolute;
  z-index: 1000;" ng-if="isAmbassador==='false'">
    <a class="button" href="/join" id="howitworksbtn" style="width:250px;padding:20px">Sign Up Now</a>
</div>

<div class="section hero" ng-if="isAmbassador==='false'">
        <div class="goGold" style="background-color:#f1f1f1">
                <div class="left-side">
                    <div class="left-text-col" style="color:#000">
                        <h2 style="color:#000">Congratulations to Red Roses!</h2>
                        <p style="color:#000">Season 1 winner with 10,300 XP and 10 completed challenges and laser focus!</p>
                        <a href="http://www.xbox.com/en-US/live" class="gold-cta">Visit Profile</a>
                    </div>
                </div>
                <div class="right-side" style="background-color: #f1f1f1;">
                    <div class="right-text-col">
                        <a href="/join">
                            <img class="hero-image" style="padding-top:50px;" src="https://xbl-mediaexp.xboxlive.com/public/content/me/programming/LATAM/04_exp/xcl/v17/images/slider-placeholder-image.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
    <div class="goGold">
            <div class="left-side">
                <div class="left-text-col">
                    <h2>Featured Specializaton:</h2>
                    <h3>Games Moderation</h3>
                    <p>With Xbox Live Gold, you get the most advanced multiplayer, free games, exclusive member discounts up to 50-75% on games in the Xbox Store, and more.</p>
                    <a href="/join" class="gold-cta">Get Started Today</a>
                </div>
            </div>
            <div class="right-side" style="background-color: #3a3a3a;">
                <div class="right-text-col">
                    <a href="/join">
                        <img src="http://compass.xbox.com/assets/76/2e/762ec554-b84c-48fa-a0c9-84420fb1d9a5.jpg?n=global_liveblade_tvandcontroller_510x410-2.jpg" alt="Join Xbox Live">
                    </a>
                </div>
            </div>
        </div>
    </div>

<!--<div class="row">
    <div class="col-md-12" style="text-align:center;height:150px;">
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:center;height:200px;">
        <p></p> <p></p><p></p>content
    </div>
</div>-->
