<div class="top-banner" style="background-image: url(/Content/images/loungeBanner.jpg);">
    <div class="container">
        <h1>LOUNGE</h1>
    </div>
</div>



<div ng-if="isAmbassador==='false'">
    <div class="row page-content-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
            <div class="not-ambassador-content">
                <h1>
                    <icon class="fa fa-ban" style="color:#FF0000"></icon>&nbsp;In order to visit the lounge, please join one or more <a href="/join">specializations</a>.
                </h1>
            </div>
        </div>
    </div>
</div>



<div ng-if="isAmbassador==='true'">
    <div class="container">
        <div class="page-content-row">
            <div class="col-md-12" style="text-align: center">
                <iframe src="https://chatlounge-preview.xbox.com/?profile=ZdMO1Rf89x9KLmKd8P%2fBl882NxsECvw3sIL2zRxhnkTFazmVUSrvOd2vK46R9jWrFyMI8R9w%2f3pZxvDv2n4vzDH6Jhk%2bnwb85BXwLJ12TqHRaJASqTJkwpOn4b9QmVIfLZ%2fpn%2fw29yIqx%2fYMl7wBlss8ElSvVOy7qEuCLpsdwvYMzEL1VMN6dvs0Dqf6KrWGKh3JA%2bYk7T4lxyTYW0kcdmOvyfZreiOo%2bmS%2bPhnaOU%2bW2IHDv9G4KlxOVvz0wtmFWRAM0LBRNL22Mh1KrlO%2fkpwmDcfaeFHP%2ff86p7gjYnI%3d" id="" style="width:100%;height:700px;border:0px;"></iframe>
            </div>
        </div>
    </div>
</div>



