<div class="column-host">
    
    <a href="#" style="float: right; padding-top: 6pt;">
        <i class="fa fa-caret-right"></i> Find More Challenges
    </a>
    <h3 class="feed-section-title">Challenges</h3>

    <!--todo- repeater here-->
    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://images-eds.xboxlive.com:80/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc5pV4Pzf1DjETKp1E5Db9GvSRA_pnmqqSIertbpCacdcRRQncqSOFeowV0RBC8piw4cO3gIh08sYvgeGYY8HQIxQ7__OxgkdQLH0y.GN0asNlOyeirf0tibKxOkK..FzaCKr.BP__qKHu3hMsL3rLPysK9coe0006mkJwkPqRtoU-&amp;format=png&amp;h=294&amp;w=215" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Forza Tour Guide
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">71%</span>
                36 / 50 Tours
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 71%;"></div>
                </div>

            </div>
        </div>
    </div>

    <!--todo- END REPEATER here-->
    <!-- more examples of challenges.... kill these -->
    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/interviewWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Streaming King
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">13%</span>
                10 / 75 Streams Hosted
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 13%;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/healthWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Stayin' Alive
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">43%</span>
                65 / 150 Late Night Hours
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 43%;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/interviewWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Streaming King
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">13%</span>
                10 / 75 Streams Hosted
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 13%;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/healthWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Stayin' Alive
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">43%</span>
                65 / 150 Late Night Hours
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 43%;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/interviewWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Streaming King
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">13%</span>
                10 / 75 Streams Hosted
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 13%;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/healthWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Stayin' Alive
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">43%</span>
                65 / 150 Late Night Hours
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 43%;"></div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/healthWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Stayin' Alive
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">43%</span>
                65 / 150 Late Night Hours
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 43%;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/interviewWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Streaming King
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">13%</span>
                10 / 75 Streams Hosted
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 13%;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="challenge-item">
        <div>
            <!-- medium or larger -->
            <img src="http://xclimages.blob.core.windows.net/images/healthWhite200.png" />


            <div class="challenge-content">
                <div class="challenge-title">
                    Stayin' Alive
                </div>

                <div class="challenge-spacer hidden-sm hidden-xs"></div>
                <span class="percentage">43%</span>
                65 / 150 Late Night Hours
                <br />

                <div class="micro-bar">
                    <div class="fill" style="width: 43%;"></div>
                </div>

            </div>
        </div>
    </div>
</div>