<link type="text/css" rel="stylesheet" href="/Content/styles/profile.css" />
<script type="text/javascript" src="/Vendor/circles/jquery-watchtower.circles.js"></script>
<script type="text/javascript" src="/Vendor/bootstrap/js/tooltip.js"></script>
<script type="text/javascript" src="/Scripts/profile.js"></script>


<div class="col-xs-12 splash-banner">
</div>


<div class="container-fluid" id="profile-banner">
    <div class="splash-text col-xs-12">
        <div class="container">
            <div class="col-xs-6 left-side">PORSCHIEY</div>
            <div class="col-xs-6 right-side">
                PLATNUM TIER
            </div>
        </div>
    </div>
</div>
<div class="container">

    <!--- circle graphs -->
    <div class="col-xs-12 col-sm-3 circles-host">

        <div class="large-circle-host">
            <img src="/Content/Images/porschieyAvatar.png" class="inside" />
            <div id="avatar-circle-graph" class="graph"
                 data-color="#008a00"
                 data-percentage="85"
                 data-dimension="250"
                 data-girth="15"
                 data-backfill="#FFFFFF"></div>
            <div class="filler inside">
                <span class="percentage">
                    85%
                </span>
                <span class="smaller"> to next teir</span>
            </div>
        </div>

        <div class="normal-circle-host">
            <div class="inside icon" id="middle-circle">
                <i class="fa fa-3x fa-globe"></i>
                <span id="leaderboard-button">Leaderboard</span>
            </div>
            <div id="normal-stat-circle" class="graph"
                 data-color="#000000"
                 data-percentage="64"
                 data-dimension="180"
                 data-girth="10"
                 data-backfill="#FFFFFF"></div>

            <div class="filler inside">
                <span class="percentage">
                    top 36%
                </span>
                <span class="smaller">this week</span>
            </div>
            <br />
        </div>

        <!--<div class="small-circle-host">
                <div class="inside icon">
                    <i class="fa fa-2x fa-street-view"></i>
                </div>
                <div id="small-stat-cirlce" class="graph"
                     data-color="#000000"
                     data-percentage="47"
                     data-dimension="110"
                     data-girth="5"
                     data-backfill="#FFFFFF"></div>

                <div class="filler inside">
                    <span class="percentage">
                        47%
                    </span>
                    <span class="smaller">growth</span>
                </div>
                <br />
            </div>-->

    </div>

    <!--- specialization / overall stats -->
    <div class="col-xs-12 col-sm-9" style="text-align: center;">

        <!-- Selectable Spec buttons -->
        <div class="specs-host container-fluid">

            <!-- Template begin -->
            <div class="col-xs-4">
                <div class="spec-item">
                    <i class="fa fa-ra"></i>
                    <span class="hidden-xs" id="demo">Professional</span>
                </div>
            </div>
            <!-- Template end -->
            <!--- junk examples -->
            <div class="col-xs-4">
                <div class="spec-item">
                    <i class="fa fa-comment"></i>
                    <span class="hidden-xs">Xbox Chat</span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="spec-item">
                    <i class="fa fa-shield"></i>
                    <span class="hidden-xs">Forum Modeator</span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="spec-item">
                    <i class="fa fa-legal"></i>
                    <span class="hidden-xs">Enforcer</span>
                </div>
            </div>

            <!-- final element, if user doens't have all specs NOTE: class "last" -->
            <div class="col-xs-4">
                <div class="spec-item last">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs">join another</span>
                </div>
            </div>

        </div>

        <!-- Dynamic Statistic content -->
        <div id="default-statistics">
            <div class="totals-box container-fluid">

                <div class="col-xs-12 col-sm-6 combined-xp-box">
                    <span class="stat" id="xp-stat">17,691</span>
                    <span class="sub-text">xp earned</span>
                </div>
                <div class="col-xs-12 col-sm-6 combined-event-box">
                    <span class="stat" id="event-stat">623</span>
                    <span class="sub-text" id="event-verb">activites completed</span>
                </div>

            </div>

            <div class="graph-host">
                <div id="ie-slider"></div>                
                <span style="color: #107c10; float: right;"> <i class="fa fa-circle"></i> you  </span>
                <span style="color: #2dab11; float: right;"> <i class="fa fa-circle"></i> program avg &nbsp; &nbsp; &nbsp; </span> &nbsp;
                <span style="float: right;">xp earned &nbsp;</span>
                <div class="ct-chart ct-major-twelfth"></div>
            </div>
        </div>
        <div id="leaderboard-statistics" class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Gamertag</th>
                        <th>XP</th>
                        <th>Activities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>33</td>
                        <td>aka Skratch</td>
                        <td>19,658</td>
                        <td>721</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>der Felix</td>
                        <td>18,888</td>
                        <td>705</td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>Mister Fitzer</td>
                        <td>19,658</td>
                        <td>658</td>
                    </tr>
                    <tr class="active">
                        <td>36</td>
                        <td>YOU</td>
                        <td>17,691</td>
                        <td>623</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>Kiesey</td>
                        <td>17,865</td>
                        <td>599</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>Hassassinade</td>
                        <td>15,235</td>
                        <td>459</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div id="season-host" class="row">
    <div class="container">
        <h3>
            <a href="#">SEASON ONE</a> ENDS IN 24 DAYS
        </h3>        
    </div>
</div>
<div class="row" id="missions-host">
    <div class="container">
        <h3 style="padding-left: 5pt;">MISSIONS - NEAREST COMPLETION</h3>

        <div class="col-xs-12 col-sm-4">
            <div class="mission-item" style="background-image:url(/Content/images/missionA.png); ">
                <div class="mission-content">
                    <div class="backdrop"></div>
                    <span class="percentage">92%</span>
                    <span class="time-left">2 days remaining</span>
                    <span class="title">Cloud Nine</span>


                    <div class="micro-bar">
                        <div class="fill" style="width: 92%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="mission-item" style="background-image:url(/Content/images/missionB.png); ">
                <div class="mission-content">
                    <div class="backdrop"></div>
                    <span class="percentage">85%</span>
                    <span class="time-left">4 hours remaining</span>
                    <span class="title">Journeyman</span>

                    <div class="micro-bar">
                        <div class="fill" style="width: 85%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="mission-item" style="background-image:url(/Content/images/missionC.png); ">
                <div class="mission-content">
                    <div class="backdrop"></div>
                    <span class="percentage">56%</span>
                    <span class="time-left">41 mins remaining</span>
                    <span class="title">Observator</span>

                    <div class="micro-bar">
                        <div class="fill" style="width: 56%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-top: 10pt;" class="col-xs-12">
            <a href="#" style="float: right;"> View All Missions <i class="fa fa-arrow-circle-right"></i></a>
        </div>

    </div>
</div>

<div id="specs-host" class="row">
    <div class="container">
        <h3 style="padding-left: 5pt;">SPECIALIZATIONS</h3>

        <div class="col-xs-12 col-sm-4">
            <div class="spec-listing">
                <img src="/Content/images/academy-icon.svg" />
                <div class="spec-content">
                    Professor
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="spec-listing">
                <img src="/Content/images/enforcement-shield-icon.svg" />
                <div class="spec-content">
                    Enforcement United
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="spec-listing">
                <img src="/Content/images/challenges-star-icon.svg" />
                <div class="spec-content">
                    Community Streamer
                </div>
            </div>

        </div>


        <div style="padding-top: 30pt;" class="col-xs-12">
            &nbsp;<a href="#" style="float: right;"> View All Specializations <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>



</div>

<div class="row" id="achievements-host">
    <div class="container">
        <h3 style="float: right;">15/42</h3>
        <h3>
            REWARDS
        </h3>

        <!--- START REPEATER FOR COMPLETED/UNLOCKED ACHIEVEMENTS, IN ORDER FROM MOST RECENTLY UNLOCKED -->
        <div class="achievement-item">
            <img src="/Content/images/ach2.png" data-toggle="tooltip" data-placement="top" title="Accepted and completed 3 missions in a single week." />
            <span class="title">Triple Threat</span>
            <span class="stamp">
                6.2.2015
            </span>
        </div>


        <div class="achievement-item">
            <img src="/Content/images/ach7.png" data-toggle="tooltip" data-placement="top" title="Completed an activity from every specialization." />
            <span class="title">Bucket List</span>
            <span class="stamp">
                5.26.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach5.png" data-toggle="tooltip" data-placement="top" title="You became a shooting star." />
            <span class="title">Shooting Star</span>
            <span class="stamp">
                5.21.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach1.png" data-toggle="tooltip" data-placement="top" title="You made a friend." />
            <span class="title">Friendly</span>
            <span class="stamp">
                5.19.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach8.png" data-toggle="tooltip" data-placement="top" title="Wore a three piece suit to work." />
            <span class="title">Profressionalism</span>
            <span class="stamp">
                5.18.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach3.png" data-toggle="tooltip" data-placement="top" title="Performed a helpful activity once a day for a week." />
            <span class="title">Time Manager</span>
            <span class="stamp">
                4.30.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach4.png" data-toggle="tooltip" data-placement="top" title="Helped a someone on a plane with their snake problem." />
            <span class="title">Plane Solutions</span>
            <span class="stamp">
                4.21.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach6.png" data-toggle="tooltip" data-placement="top" title="Fireworks were launched because you did something awesome." />
            <span class="title">Legal Celebration</span>
            <span class="stamp">
                3.26.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach2.png" data-toggle="tooltip" data-placement="top" title="Accepted and completed 3 missions in a single week." />
            <span class="title">Triple Threat</span>
            <span class="stamp">
                6.2.2015
            </span>
        </div>


        <div class="achievement-item">
            <img src="/Content/images/ach7.png" data-toggle="tooltip" data-placement="top" title="Completed an activity from every specialization." />
            <span class="title">Bucket List</span>
            <span class="stamp">
                5.26.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach5.png" data-toggle="tooltip" data-placement="top" title="You became a shooting star." />
            <span class="title">Shooting Star</span>
            <span class="stamp">
                5.21.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach1.png" data-toggle="tooltip" data-placement="top" title="You made a friend." />
            <span class="title">Friendly</span>
            <span class="stamp">
                5.19.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach8.png" data-toggle="tooltip" data-placement="top" title="Wore a three piece suit to work." />
            <span class="title">Profressionalism</span>
            <span class="stamp">
                5.18.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach3.png" data-toggle="tooltip" data-placement="top" title="Performed a helpful activity once a day for a week." />
            <span class="title">Time Manager</span>
            <span class="stamp">
                4.30.2014
            </span>
        </div>

        <div class="achievement-item">
            <img src="/Content/images/ach4.png" data-toggle="tooltip" data-placement="top" title="Helped a someone on a plane with their snake problem." />
            <span class="title">Plane Solutions</span>
            <span class="stamp">
                4.21.2014
            </span>
        </div>
        <!--- END REPEATER FOR COMPLETED/UNLOCKED ACHIEVEMENTS -->
        <!--- START REPEATER FOR LOCKED ACHIEVEMENTS -->
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Earned over 1 million XP overall.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Millionare</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Hosted a stream that had over 2,000 viewers.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Popular</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Spent too much time on this page thinking about achievement names.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Over Thinker</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Stopped making bogus achievement names and copy/pasted instead.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Rage Quit</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Earned over 1 million XP overall.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Millionare</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Hosted a stream that had over 2,000 viewers.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Popular</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Spent too much time on this page thinking about achievement names.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Over Thinker</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Stopped making bogus achievement names and copy/pasted instead.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Rage Quit</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Earned over 1 million XP overall.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Millionare</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Hosted a stream that had over 2,000 viewers.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Popular</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Spent too much time on this page thinking about achievement names.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Over Thinker</span>
            <span class="stamp">
                --
            </span>
        </div>
        <div class="achievement-item">
            <div class="icon"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Stopped making bogus achievement names and copy/pasted instead.">
                <i class="fa fa-lock"></i>
            </div>
            <span class="title">Rage Quit</span>
            <span class="stamp">
                --
            </span>
        </div>
        <!--- END REPEATER FOR LOCKED ACHIEVEMENTS -->
    </div>
</div>
