<div class="column-host">
    
    <h3 class="feed-section-title">Activity Feed</h3>

    <!-- TODO repeater here-->
    <!-- each item needs to either be a jumbo item with picture, or a line item.  jumbo -->
    <div class="feed-item jumbo">
        <span class="timestamp">just now</span>
        <img class="feed-icon" src="/Content/Images/der-felix.png" />
        <p class="feed-gamertag">der Felix</p>
        <p class="feed-text"> leveled up to 15! </p> 

        <div class="jumbo-host">
            <div class="jumbo-img" style="background-image: url(http://images-eds.xboxlive.com/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToAF1E1aWomP_uYXca0xifwOaLtlZ9u1G_DIK3QMR3YdtYgAdy9tgFKTkYD_xaOEBLkn.fcmsK_jw_7Uk3Jb_tiLcEfQX9Yl_wYBSZ1K2WI7IX_a4EfjoHB.vN.vx3Aq32BMrekDgCnEM0DKht1fIbK4&format=jpg&h=640&w=1138);"></div>                
        </div>
    </div>

    <div class="feed-item">
        <span class="timestamp">30 mins ago</span>
        <img class="feed-icon" src="/Content/Images/porschieyAvatar.png" />
        <p class="feed-gamertag">Porschiey</p>
        <p class="feed-text">completed the <a href="#">Build a Dashboard</a> challenge. </p> 
    </div>

    <div class="feed-item">
        <span class="timestamp">3 hours ago</span>
        <img class="feed-icon" src="/Content/Images/scratchAvatar.png" />
        <p class="feed-gamertag">aka Scratch</p>
        <p class="feed-text">started streaming on the <a href="http://twitch.tv/xboxambassadors/">Ambassador's Channel. </a>
        </p> 
    </div>

    <div class="feed-item jumbo">
        <span class="timestamp">yesterday</span>
        <img class="feed-icon" src="/Content/Images/aliseuhAvatar.png" />
        <p class="feed-gamertag">Aliseuh</p>
        <p class="feed-text"> won the monthly sweepstakes! </p> 
        
        <div class="jumbo-host">
            <div class="jumbo-img" style="background-image: url(http://images-eds.xboxlive.com/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToA4nZPAgTEAZHIzAQhNqr.Yxn2O_pvQyEi6l_9rb3Pe31.uuPaaOkwi55JJHYlapIgVhiWhEBNSYPX6aapnI6erbp7cWC3EDYzKbNiW3cD2NKLKdrkuMZwMfw_BU3JKkAnurSMvjV.rV3RGrbcQplOj&format=jpg&h=640&w=1138);"></div>
        </div>
    </div>

    
    <div class="feed-item">
        <span class="timestamp">1 month ago</span>
        <img class="feed-icon" src="/Content/Images/kieseyAvatar.png" />
        <p class="feed-gamertag">Kiesey</p>
        <p class="feed-text">
            completed the <a href="#">Support Super Star</a> challenge.
        </p> 
    </div>
  
</div>