<h3 class="feed-section-title">News</h3>

<div class="news-item">
    <a href="#" class="title">Please pardon our dust</a>
    <p class="hidden-md">
        We've got several people working on this new experience for you, please be patient whil...
    </p>
    <span class="byline">porschiey, 3 hours ago</span>
</div>


<div class="news-item">
    <a href="#" class="title">Some news in latin</a>
    <p class="hidden-md">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam consectetur placerat. Ut auctor, mauris non semper sagittis, nulla lorem dignissim ligula, at mattis ligula sapien et purus. Aliquam hendrerit dolor a arcu gravida porttitor. Nam luctus egestas mi. Etiam dapibus venenatis luctus. Aenean pulvinar malesuada arcu, quis mattis mauris laoreet a...

    </p>
    <span class="byline">leonardo, 7 years ago</span>
</div>