<div class="col-xs-12 col-sm-4">
    <div class="mission-item" style="background-image:url({{mission.iconUri}}); ">  
        <div class="mission-content">
            <div class="backdrop"></div>
            <span class="percentage">{{mission.progress}}</span>
            <span class="time-left">{{mission.remaining}} days remaining</span>
            <span class="title">{{mission.displayName}}</span>
            <div class="micro-bar">
                <div class="fill" style="width: {{mission.progress}};"></div>
            </div>
        </div>
    </div>
</div>

